@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.header {
    align-items: center;
    /*background-color: #d41a81;*/
    background-color: #161b22;
    color: white;
    display: flex;
    justify-content: space-between;
    top: 0px;
    width: 100%; 
    height: 65px;
     
}

.header_img {
    margin-left: 30px;
    width: 35px; 

}

.section-1 {
    background-color: #000000;
    display: flex;
    /*nos ayuda a ubicar nuestros componentes*/
    align-items: center;
    justify-content: center;
    /*es una propiedad del contenedor flex y controla el alineamiento de los elementos de una caja flexible */
    flex-direction: column;
    /*La dirección en la que se apilas las líneas de texto */
    padding: 0px 30px;
    min-height: calc(100vh - 400px); 
    color: #ffffff;
}

.section-2 {
    background-color: #000000;
    display: flex;
    /*nos ayuda a ubicar nuestros componentes*/
    align-items: center;
    justify-content: center;
    /*es una propiedad del contenedor flex y controla el alineamiento de los elementos de una caja flexible */
    flex-direction: column;
    /*La dirección en la que se apilas las líneas de texto */
    padding: 0px 30px;
    min-height: calc(100vh - 600px); 
    color: #ffffff;
   
}

.section-3 {
    background-color: #000000;
    display: flex;
    /*nos ayuda a ubicar nuestros componentes*/
    align-items: center;
    justify-content: center;
    /*es una propiedad del contenedor flex y controla el alineamiento de los elementos de una caja flexible */
    flex-direction: column;
    /*La dirección en la que se apilas las líneas de texto */
    padding: 0px 30px;
    min-height: calc(100vh - 600px); 
    color: #ffffff;
   
}


.input {
    background-color: #ffffff1a;
    border: 2px solid #238636; /* #238636 - #d41a81 */
    border-radius: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 60%;
}



.button {
    background-color: #238636; /* #ffffff1a */
    border: 2px solid #238636;
    border-radius: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: 45px;    
    padding: 0px 15px;
    width: 15%;
    margin: 20px;
}

.profile-div {
    justify-content: center;
    margin: auto;
    padding: 0px 20px;
    width: 80%;
    background-color: #0d1117;
    border: 1px solid #30363d;
}

.profile-div .figure-profile-1{
    width: 40%;
    justify-content: center;
}

.profile-div .figure-profile-1{
    width: 230px;
    height: 230px;
    border: 1px solid #30363d;
    border-radius: 50%;
}

.profile-div .figure-label-1 {
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 1.2rem 0.8rem 0rem 0.8rem;
}

.profile-div .profile-info-div .figure-label-1 {
    flex-direction: column;
}

.profile-div .profile-info-div .figure-label-1{
    padding-bottom: 0.5rem;
}

.profile-div .profile-info-div .figure-label-1 label span{
    font-weight: normal;
    padding-left: 0.2rem;
}

.profile-div .profile-info-div figure-profile-2{
    justify-content: center;
}

.profile-div .profile-info-div figure-profile-2 img{
    padding: 0 1rem;
}

#state{
    display: none;
}

.state h1{
    text-align: center;
    padding: 1rem;
}



.footer {
    padding: 1rem;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

a {
    color: #6d32db;
    text-decoration: none;
}